name: WakaTime status update

on:
  workflow_dispatch:
    schedule:
      - cron: "0 0 * * *"
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: [ master ]

jobs:
  update-readme:
    name: WakaReadme DevMetrics
    runs-on: ubuntu-latest
    steps:
      - uses: sanix-darker/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          BLOCKS: ⣀⣄⣤⣦⣶⣷⣿
          TIME_RANGE: last_7_days
          LANG_COUNT: 10
          SHOW_TIME: true
          SHOW_TITLE: true
          SHOW_TOTAL: true
          SHOW_MASKED_TIME: true
          IGNORED_LANGUAGES: YAML JSON TOML
